{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block heading %}{% endblock %}
{% block content %}

Hi! This is <a href="https://www.linkedin.com/in/mikelescdc/">Mikel Escobar</a>, welcome to my side project. I'm trying
to learn more about deploying services in the cloud.
<br>
On my day to day I get to train ML models and build the microservices that serve them. I also get them into Docker containers
and maybe modify the CI/CD pipelines that end up deploying those services in Kubernetes (AKS).
<br>
The "problem" is most of the time I have an architect near me, which is obviously needed for my job, but that also means I am not totally independent for some tasks.
Also, paid services like AzureDevOps or EKS provide lots of very useful tools for a corporate-level use, but what about smaller projects like this one?
I feel like I started using kubectl commands before knowing what was actually behind. 
This is why I want to do some "basic" stuff. I want to explore myself, use my personal account and get a deeper underestanding on how to make a simple web app available on the public Internet.
<br>
I hope it helps me, and anyone else, learn a little bit more about deploying ML services in the cloud.

{% endblock %}