{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block heading %}{% endblock %}
{% block content %}

Hi! This is <a href="https://www.linkedin.com/in/mikelescdc/">Mikel Escobar</a>, welcome to my side project. I'm trying
to learn more about deploying services in the cloud.
<br>
On my day to day I get to train ML models and build the microservices that serve them. I even get to create the containers
and modify the CI/CD pipelines that end up deploying my those services in Kubernetes.
<br>
The "problem" is I always have an architect near helping with the deployment. This is why I want to explore myself, use my personal account and get a complete underestanding of the process.
Also, I am more familiarised with Azure so I will use AWS to get familiarised with the naming but both providers have equivalent resources.
<br>
I hope it helps me, and anyone else, learn a little bit more about deploying ML services in the cloud.

{% endblock %}